VITE_SUPABASE_URL=https://mupeposchmcisrbgfnqt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cGVwb3NjaG1jaXNyYmdmbnF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNTU0NjEsImV4cCI6MjA5MzkzMTQ2MX0.xAIr6eNwtfKfDidgwVbumn0fg2dZi3rAH3bIx53VAAEe
